<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <style>
        body {
            background: #0f172a;
            color: white;
            font-family: Arial;
            text-align: center;
        }

        .box {
            margin-top: 100px;
        }

        input {
            padding: 10px;
            margin: 10px;
            width: 200px;
        }

        button {
            padding: 10px 20px;
            background: #22c55e;
            border: none;
            color: white;
        }
    </style>
</head>

<body>

<div class="box">
    <h2>🔐 Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
        
    </form>

 <br> 
<a href = "/register">Create New account</a>
</div>

</body>
</html>
